main.acn
main.acn2
main.acn3
main.aux
main.fdb_latexmk
main.fls
main.glo
main.idx
main.ist
main.loc
main.lod
main.lof
main.log
main.loh
main.lop
main.lot
main.mw
main.nlo
main.acr
main.acr2
main.acr3
main.alg
main.alg2
main.alg3
main.bbl
main.blg
main.glg
main.gls
main.ilg
main.ind
main.nls
main.synctex.gz
main.toc
pdfa.xmpi
capitulos/cap-conceitos.aux
capitulos/cap-conclusoes.aux
capitulos/cap-experimentos-resultados.aux
capitulos/cap-introducao.aux
capitulos/cap-metodologia.aux
capitulos/cap-proposta.aux
capitulos/citacoes.aux
PosTexto/anexoa.aux
PosTexto/anexob.aux
PosTexto/apendicea.aux
PosTexto/apendiceb.aux
PreTexto/abstract.aux
PreTexto/agradecimentos.aux
PreTexto/dedicatoria.aux
PreTexto/epigrafe.aux
PreTexto/resumo.aux
main.pdf
pdfa.xmpi
main.synctex(busy)
pdfa.xmpi
main.pdf
pdfa.xmpi
main.pdf
